apiVersion: v1
kind: Secret
metadata:
  name: everipixel-secret
  namespace: everipixel
data:
  privatekey: .................... <- copy this file to secret.yaml and enter your private key (base64 encoded) here
